<% html_title("Project tracking with EVM") %>
<% @project_evm.each do |project_id, evm| %>
  <h3><%= evm.description %></h3>
  <p>
  <%= render partial: "basic_evm_value", locals: { evm: evm } %>
  </p>
<% end %>
